.task-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 50;
    left: 50%;
    top: 52%;
    width: 48%;
    transform: translate(-50%, -50%);
    background-color: #f3efef;
    padding: 0 ;
    border-radius: 3px;
    overscroll-behavior: contain;
    min-height: 90vh;
    cursor: default;

    .window-img-details{
        height: 26px;
        width: fit-content;
        padding-left: 13px;
        padding-right: 10px;
    }

    .detail-container{
        padding-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        textarea, .comments{
            margin-left: 30px;
            width: 98%;
            display: flex;
            flex-direction: column;


        }
        .comment-edit-delete-container{
            display: flex;
            align-items: center;
            padding-top: 4px;
            padding-bottom: 15px;
            .comment-edit {
                font-size: 12px;
                color: $clr19;
                text-decoration: underline;
                letter-spacing: 1.5px;
            }
            .comment-delete {
                font-size: 12px;
                color: $clr19;
                text-decoration: underline;
                letter-spacing: 1.5px;
            }
        }
    }
    .form-comment-details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    & .x-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.07);
        border: none;
        // position: absolute;
        width: fit-content;
        cursor: pointer;
        height: fit-content;
        border-radius: 50%;
        padding: 0.8rem 1.1rem;

        &:hover {
            background-color: rgba(0,0,0,0.11);
        }

        .fa-xmark {
            font-size: 1.3rem;     
            font-weight: 400;       
        }
    }

    textarea { 
        resize: none; 
        width: 95%;
        border-radius: 2px;
        outline: none;
        border: 1px solid hsla(0, 1%, 72%, 0.572);
        padding: 5px;
    }
    .detail-header-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0 0 10px 0px;
        width: 100%;
        margin-top: 12px 8px ;
        margin-bottom: 8px ;

    }
    &.hidden {
        display: none;
    }
    & h1{
        font-size: 20px;
        padding-left: 1px;
        margin: 0;
    }
    & form {
        flex-direction: column;
    }
    .left-details-container{
        display: flex;
        width: 100%;

    }
    .detail-container{
        padding-left: 20px;
        

    }
    .left-details{
        h1{
            padding-left: 1px;
        }
    }

    .no-desc {
        background-color: #f62b2b
    }
    & .desc-input{
        margin-top:10px;
        margin-left: 32px;
        padding: 10px;
        font-size: 1.1rem;
        border: 1px solid rgba(184, 183, 183, 0.572);
        border: 1.5px solid $clr6;

    }

    .desc-cmp {
        margin-top: 20px;
    }
    .activity {
        font-weight: 600;
        letter-spacing: 1.8px;
        font-size: 16px ;
        padding-left: 8px ;
    }
    .comment-input{
        margin: 20px 0 10px 0;
        width: 98%;
        height: 40px;
        border: 1px solid rgba(184, 183, 183, 0.572);


    }
    .members-labels {
        display: flex;
        align-items: flex-start;
        padding-bottom: 15px;
    }
    .members-members-title {
        padding-right: 20px;
        padding-left: 30px;

        .members-no-labels{
            padding-left: 30px;
        }

    }
    .task-members {
        height: min-content;
        display: flex;
        justify-content: center;
        
        .member-background{

            border-radius: 50%;
            margin: 2px;
            padding: 2px;
            height: 25px;
            width: 25px;
            // color: $clr3;
            // opacity: 0.3;
        }
    }

    .task-member p {
        border-radius: 25em;
        margin: 2px;
        padding: 4px 6px;
        height: 20px;
        width: fit-content;
        
        color: $clr3;
    }

  
    .description, .activity  {
        font-weight: 400;
        letter-spacing: 1.0px;
        font-size: 16px ;
        min-height: 18px;
        width: 100%;
        padding-left: 17px;
        color: $clr3;
        margin-top: 15px;

    }


   .label-container {
       display: flex;
       flex-direction: column;
       padding-left: 11px;
       margin-left: 20px;

       .label-detail-container{
           display: flex;
           flex-direction: row;
        }
        .labels-header {
            margin-bottom: 5px;
        }
        .label-details {
            border-radius: 3px;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 12px;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 10px 0;
            min-width: 40px;
            width: fit-content;
            padding: 0 12px;
            color: #fefefe;
        }

   }

    & .box-title {
        letter-spacing: 0.5px;
        color: $clr3;  
        padding-left: 27px;      
        margin: 4px 8px 4px 23px;
        font-weight: 200;
        font-size: 14px;

        & .box-title-details {
            text-decoration: underline;
            color: $clr3;
        } 
    }

    & .task-description {
        font-weight: 600;
        letter-spacing: 1.5px;
        font-size: 16px ;
        width: 90%;

        .curr-desc {
            font-size: 14px;
            font-weight: 400;
            margin: 15px 0 20px 30px;
            cursor: pointer;
        }
        .desc-btn-container{
            display: flex;
            align-items: center;
            margin-left: 0px;
        }
        button {
            letter-spacing: 1.5px;
            font-weight: 600;
            cursor: pointer;

            
            &.save-btn  {
                background-color: $clr6;
                margin: 10px 0 0 20px;
                color: #fefefe;
                padding: 6px 8px;
                border: none;
                border-radius: 2px;
                width: fit-content;
    
            }


            &.save-btn:hover {
                background-color: #00578a;

            }
            &.cancel-btn {
                background-color: transparent;
                border: none;
                color: black;
                font-weight: 550;
                margin: 10px 10px 13px 0px;
                padding: 6px 15px;
                border: none;
                border-radius: 2px;
                // background-color: rgb(220, 216, 216);

                &:hover{
                    background-color: rgb(220, 216, 216);
                }
            }
        }
        
    }
    .comments {
        list-style: none;
        padding: 0;
    }
    .comment {
        width: 100%;
        background-color: #fefefe;
        padding: 8px 12px;
        margin: 10px 0 10px 0;
        border: 1px solid rgba(184, 183, 183, 0.572);

    }
    .cover-menu-color-detail{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
   
    .icon-desc-details{
        display: flex;
        align-items: center;
        
        &.no-color {
            height: auto;
        }
    }
    .icon-details-list{
        display: flex;
        align-items: center;

    }

    .img-title{
        display: flex;
        flex-direction: row;
        align-items: center;

        & h1 {
            font-weight: 500;
            font-size: 20px;
            padding: 4px 8px;
            margin: 0;
            color: #172b4d;


        }
    }



}

.color-cover-details {
    object-fit: cover;
    padding: 0;
}

.the-medium{
    background-color: rgba(0, 0, 0, 0.06);
}

.edit-x-btn {
    background: transparent;
    border: none;
    color: #42526e;
    width: 24px;
    font-size: xx-large;
    height: 24px;
    line-height: 24px;
    
    .svg-inline--fa{
        font-weight: 500;
        height: 24px;
    }

    &:hover {
        color: black;
    }

}
.edit-save-btn {
    letter-spacing: 1.5px;
    font-weight: 600;
    cursor: pointer;
    background-color: $clr6;
    color: #fefefe;
    padding: 6px 8px;
    border: none;
    border-radius: 2px;
    width: fit-content;

    &.edit-save-btn:hover {
        background-color: $clr20;

    }
}
.comment-container {
    width: 100%;
    .edit-comment-container{
        display: flex;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
        box-sizing: border-box;
        clear: both;
        display: inline-block;
        margin: 4px 2px 4px 0;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
        
        .save-x-btn-container{
            display: flex;
            align-items: center;
            border: none;
            margin: 10px;
        }
        .edit-comment-txt{
            margin: 0;
            word-break: break-word;
            overflow: wrap;
            padding: 8px 12px;
            height: 20px;
            color: grey;
            font-weight: 400;
            border: none;
        }
        &.comment{
            word-break: break-word;
            overflow: wrap;
            padding: 8px 12px;
            color: grey;
            font-weight: 400;
            margin: 0;
        }
    }
}

