.task-details-window {
    .task-detail-body-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 24px;

        .section-header {
            padding: 4px 8px;
            margin: 0;
        }

        .task-detail-main-container {
            flex-grow: 1;
            margin-left: 24px;
            padding-right: 8px;


            .members-labels-container {
                margin-left: 40px;

                display: flex;
                align-items: center;
                gap: 32px;

                .task-detail-members-container {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    * {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                    }

                    .task-detail-member {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;

                        margin-inline-end: 4px;
                    }
                }
            }

            .task-detail-label-container {
                display: flex;
                flex-direction: column;
                gap: 4px;

                * {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .label-detail-container {
                    height: 32px;
                    display: flex;
                    gap: 4px;
                    align-items: center;

                    .label-details {
                        height: 100%;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        border-radius: 3px;
                        padding: 0 12px;

                        color: #ffffff;
                    }
                }
            }
        }

        .task-description {

            .task-desc-header {
                display: flex;
                align-items: center;
                margin-top: 24px;

                * {
                    font-size: 16px;
                }
            }

            .task-desc-header.is-first {
                margin-top: -2px;
            }

            .desc-cmp {
                margin-left: 40px;

                .task-desc-form {
                    width: 100%;

                    .task-desc-edit {
                        overflow: hidden;
                        overflow-wrap: break-word;
                        resize: none;
                        height: 108px;
                        width: 100%;
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        padding: 8px 0 8px 12px;
                        box-shadow: inset 0 0 0 2px #0079bf;
                    }

                    .desc-btns-container {
                        display: flex;
                        align-items: center;
                        margin-top: 8px;

                        .desc-btn {
                            height: 32px;
                            padding: 6px 12px;
                            border: none;
                            border-radius: 3px;
                            margin-inline-end: 4px;
                        }

                        .desc-save-btn {
                            background-color: #0079bf;
                            color: #ffffff;
                        }

                        .desc-save-btn:hover {
                            filter: brightness(90%);
                            cursor: pointer;
                        }

                        .desc-cancel-btn {
                            background: none;
                        }

                        .desc-cancel-btn:hover {
                            background-color: #091e420a;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .input-comment{
            max-width: calc(100% - 30px);

            .avatar-comment-cmp-edit {
                
                .comment-avatar-img  {
                    border-radius: 25em;
                    height: 32px;
                    width: 32px;
                    margin-left: 4px;
                }
                
            }
        }

        .activity-container {
            margin-top: 24px;

            img {
                position: absolute;
            }

            .task-activity-header {
                display: flex;
                align-items: center;

                * {
                    font-size: 16px;
                }
            }
            .comment-cmp {
                border-radius: 3px;
                border: none;
                box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.351);
                background: #fff;
                height: 20px;
                min-height: 20px;
                resize: none;
                padding: 8px 0 8px 12px;
                width: 100%;
                outline: none;
                margin-left: 44px;
                cursor: pointer;

                &:hover {
                    background-color: #ebecf0;
                }
            }

            .task-comment-input{
                margin-left: 40px;
                padding: 8px 12px 56px;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 3px;
                box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
                position: relative;
                margin-bottom: 24px;
                resize: none;
                width: 100%;

                .task-comment-input {
                    overflow: hidden;
                    overflow-wrap: break-word;
                    height: 20px;

                    resize: none;
                    width: 100%;
                    border: none;
                    outline: none;
                }

                .save-comment-btn {
                    height: 32px;
                    padding: 6px 12px;
                    background-color: #0079bf;
                    border: none;
                    color: #ffffff;
                    border-radius: 3px;

                    position: absolute;
                    bottom: 10px;
                }

                .save-comment-btn:hover {
                    cursor: pointer;
                    filter: brightness(90%);
                }
            }

            .comments-container {
                margin-left: 44px;
                list-style: none;
                list-style-position: left;
                padding: 0;
                position: relative;
                align-items: center;

                .comment-icon {
                    position: absolute;
                    left: -32px;
                }

                .comment-container {
                    min-height: 32px;
                    padding: 8px 0;
                    position: relative;
                    
                    .comment-fullname-timestamp {
                        display: flex;
                        align-items: left;
                        flex-direction: column;
                        

                    }

                    .comment-avatar img {
                        border-radius: 25em;
                        height: 32px;
                        object-fit: cover;
                        width: 32px;
                        height: 32px;
                        left: -40px;
                        position: absolute;
                        top: 8px;
                        width: 32px;
                    }

                    .comment {
                        background-color: white;
                        padding: 8px 12px;
                        overflow-wrap: break-word;
                        word-break: break-word;
                        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.03);
                        align-items: center;
                    }
                    span.comment-timeStamp {
                        
                        font-size: 12px;
                        font-weight: 300;
                        color: rgb(126, 126, 126);
                        
                    }
                    .comment-createdBy-timeStamp {
                        font-weight: 600;
                        padding-bottom: 10px;

                        span {

                        }
                    }

                    .comment-edit-delete-container {
                        display: flex;
                        flex-direction: column;


                        .comment-btn-container {
                            display: flex;
                            padding-top: 10px;

                            * {
                                color: #5e6c84;
                                font-size: 12px;
                            }

                            button {
                                background: none;
                                border: none;
                            }

                            .comment-edit {
                                margin-left: -6px;
                                cursor: pointer;
                            }

                            .comment-delete {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .edit-comment-txt {
                    border: none;
                    outline: none;
                }

                .edit-comment-container {
                    padding: 8px 12px 56px;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
                    position: relative;

                    input {
                        overflow: hidden;
                        overflow-wrap: break-word;
                        height: 20px;

                        resize: none;
                        width: 100%;
                        border: none;
                        outline: none;
                    }

                    .save-x-btn-container {
                        position: absolute;
                        bottom: 8px;
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        * {
                            border: none;
                            background: none;
                        }

                        .edit-save-btn {
                            background-color: #0079bf;
                            color: #ffffff;
                            height: 32px;
                            border-radius: 3px;
                            padding: 6px 12px;
                        }

                        .edit-save-btn:hover {
                            cursor: pointer;
                            filter: brightness(90%);
                        }

                        .edit-x-btn {
                            height: 32px;
                            width: 32px;
                        }

                        .edit-x-btn:hover {
                            cursor: pointer;

                            * {
                                color: #283141;
                            }
                        }
                    }
                }
            }
        }
    }
}