.board-list-page {
    margin: auto;
    // margin-top: 50px;
    max-width: 1266px;
    position: relative;
    height: 100vh;

    .board-list {
        height: 100%;
        width: 825px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .board-list-header {
            display: flex;
            align-items: center;
            padding: 11px;

            * {
                margin: 0;
                font-size: 2em;
            }

            h2 {
                margin-left: 10px;
            }
        }
    }
}

.boards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
}



.board-prev {
    margin: 0 2% 2% 0;
    transform: translate(0);
    padding: 0;
    width: 23.5%;
    height: 96px;
    text-align: center;
    border-radius: 3px;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    .bg-shadow {
        height: 100%;
        width: 100%;
        // background-image: linear-gradient(#0000004d, #00000000);
        background-color: #0000004d;
        border-radius: inherit;

        .to-board {
            text-decoration: none;
            text-align: left;

            .board-prev-title {
                color: #ffffff;
                margin: 8px 0 0 8px;
                height: 88px;
                line-height: 12px;
            }
        }
    }

    .boardmenu-btn {
        position: absolute;
        z-index: -5;
        top: 0;
        right: 0;

        border: none;
        border-radius: 3px;

        background: none;
    }

    & .boardmenu-btn:hover {
        cursor: pointer;
    }

    & .boardmenu-open {
        position: absolute;
        z-index: 10;
        top: 0;
        right: -10px;
        background-color: $clr4;
        border-radius: 3px;
        min-width: 50px;
        padding: 5px;
        text-align: start;
    }
}

.fourth-child {
    margin-right: 0;
}

.bg-shadow:hover {
    background-image: linear-gradient(#2121219a, #21212130);
}