* {
    font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
    color: $clr1;
    font-size: 14px;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
}

html,
body {
    height: 100%;
}

.vsc-initialized {
    background-color: #fafcfd;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.white-icons path {
    color: #fefefe;
}

.extras-menu-btn {
    border-radius: 3px;
    fill: #172b4d;
    background-color: #EBECF0;
    opacity: 1;

}

.grey-icons path {
    color: rgb(176, 175, 175);
    opacity: 0.8;
    background-color: #F4F5F7;
}

.grey-icons:hover {
    fill: #172b4d;
    background-color: #EBECF0;
    opacity: 1;
}

// path{
//     background-color: #fafbfc8d;

// }
.fa-ellipsis .grey-icons:hover {
    background-color: none;
    opacity: 0.8;
}