*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:$clr1;
    font-size: 14px;
}

html,
body{
    height: 100%;
    overflow-y: hidden;
}

#root{
    background-color: #fafbfc;
}

