//COLOR PALET
$clr8: rgb(32, 32, 32); //black

$clr1: #42526E;
//BACKGROUND CARDS
$clr2: #0079BF;
// TEXT
$clr3: #172B4D;
$clr4: #FFFFFF;
//box
$clr5:#ebecf0;
//SIGN UP BUTTON
$clr6: #0065ff;
//EDIT BUTTONS
$clr7:#0009;

//DETAIL MENU BUTTONS
$clr9: #091e420a;