//COLOR PALET
$clr8: rgb(32, 32, 32); //black

$clr1: #42526E;
//BACKGROUND CARDS
$clr2: #0079BF;
// TEXT
$clr3: #172B4D;
$clr4: #FFFFFF;
//box
$clr5: #ebecf0;
//SIGN UP BUTTON
$clr6: #0065ff;
//EDIT BUTTONS
$clr7: #0009;
//TASK DUE DATE INCOMPLETE 
$clr8: #ec9488;
$clr9:#eb5a46;
// COMPLETE
$clr10:#61bd4f;
$clr11:#519839;
$clr7:#0009;

//DETAIL MENU BUTTONS
$clr12: #091e420a;
$clr13: #00000014;

// BOX SHADOW

