//COLOR PALET
$clr8: rgb(32, 32, 32); //black

$clr1: #42526E;
//BACKGROUND CARDS
$clr2: #0079BF;
// TEXT
$clr3: #172B4D;
$clr4: #FFFFFF;
//box
$clr5: #ebecf0;
//SIGN UP BUTTON
$clr6:#0079bf ;
$clr20: #00578a;//hover

//EDIT BUTTONS
$clr7: #0009;
//TASK DUE DATE INCOMPLETE 
$clr8: #ec9488;
$clr9:#eb5a46;
// COMPLETE
$clr10:#61bd4f;
$clr11:#519839;
$clr7:#0009;

//DETAIL MENU BUTTONS
$clr12: #091e420a;
$clr13: #00000014;


//light grey
$clr14: #6b778c;
// BOX SHADOW

//SIGNUP
$clr15: #5E6C84;// signup title
$clr16: #DFE1E6;//signup input border
$clr17: #61BD4F; //green signup
$clr18: #E2E4E6; //signup disabled

//edit comment button
$clr19: #8c929c;