@media (max-width: 400px) {

    header {
        display: flex;
        justify-content: space-evenly;

        
        
        
        
    }
    .app-header-nav .recent{
        padding: 1px 0 0 4px;
        margin-left: 0;
    }
}