.action-menu {
    background-color: $clr4;
    border-radius: 3px;
    position: absolute;
    transform: translateX(190px);
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 10px;

    &.Cover {
        margin-top: 0px;
        z-index: 5;
    }

    .white-icons {
        color: white;
    }


}


.label-choice {
    color: #fefefe;
    font-size: 14px;
    padding: 10px 18px;
    margin: 0 0 6px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 10;
    width: 18vw;
    border-radius: 3px;




    input {
        width: 98%;
    }

    p {
        color: rgb(35, 34, 34);
        padding: 6px;
        margin-top: 16px;
        line-height: 16px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    &.Labels {
        background-color: #fefefe;
    }

    &.Date {
        background-color: #fefefe;

    }

    &.Cover {
        position: absolute;
        bottom: -525px;
        padding: 20px;
        height: 30vh;
    }

}

.h1-topic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-topic {
    align-items: center;
}




.menu-choice-Members {
    transform: translateY(-210px);
    background-color: $clr4;
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;

    .close-labels-btn {
        * {
            color: #42526E;
        }
    }



    .task-members {

        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        gap: 8px;
        align-items: flex-start;


        .member-container {
            display: flex;
        }

        .members-div {
            cursor: pointer;
            margin: 0;
            line-height: 32px;
            width: 100%;
            white-space: nowrap;
            color: rgb(7, 7, 153);
            display: flex;
            gap: 4px;
            padding-bottom: 4px;
            justify-content: flex-start;
            // width: max-content;
            border-bottom: 0.5px solid black;
        }

        .member-name {
            margin: 0;
            padding: 0;
        }

        .member-preview:hover {
            z-index: 100;
            cursor: pointer;
        }

        img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin: 0;
        }

    }

}

.Cover {
    transform: translateY(-175px);
    padding: 0 12px 12px;
    background-color: rgb(249, 249, 249)
}


.color-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    gap: 5px;

    .cover-menu-color {
        border-radius: 3px;
        width: 50px;
        height: 32px;
    }

    .cover-menu-color:hover{
        filter: brightness(110%);
    }
}


.on-create-new-label {
    border: none;
    background: none;
    background-color: #091e420a;
    text-align: center;
    width: 100%;
    padding: 6px 12px;
    margin-top: 4px;
    border-radius: 3px;
}

.on-create-new-label:hover {
    cursor: pointer;
    background-color: #091e422c;
}



.cover-menu {
    .bg-image {
        width: fit-content;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-y: hidden;
        height: fit-content;
        gap: 8px;
        margin-top: 6px;

        button {
            width: 90px;
            height: 50px;
            border-radius: 3px;
        }
    }

}