.app-header{
    padding-bottom: 1rem ;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .logo-container {
        display: flex;
        margin: 10px;
        justify-content: center;

        & .logo {
            height: 6vh;
            margin-top: 2px;
        }
        
        & h1{
        color: black;
        font-weight: 9s00;
        font-size: xx-large;
        padding-left: 5px;
        margin: 0 0 10px 0;

        justify-content: center;
    } 
    }


    & .app-header-links{
        padding: 10px;
        margin-right: 3%;
        margin: 1.5% 2.8%;

    
    }
    & .nav-link{
        padding: 8px;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-decoration: none;
        border-radius: 3px;
    }
    & .signup{
        background-color: $clr6;
        color: white;
    }
    & .login{
        color: $clr6;
    }

}