.app-header {
    padding: 6px 4px 6px 0;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    top: 0;
    background-color: #026aa7;

    >* {
        height: 32px;
    }

    * {
        color: white;
        font-size: 14px;
    }


    .logo-and-nav {
        flex-grow: 1;
        display: flex;
        align-items: center;

        .logo-container {
            width: fit-content;
            margin: 0;
            padding: 4px 6px 4px 4px;
            display: flex;
            align-items: center;
            gap: 5px;
            height: 25px;
            border-radius: 3px;
            text-decoration: none;

            .logo {
                height: 15px;
            }

            h1 {
                font-size: 15px;
                font-weight: 700;
                margin: 0;
                display: flex;
                align-items: flex-end;
                line-height: 14px;
            }
        }
        .logo-container:hover{
            cursor: pointer;
            transition: 0.2s;
            background-color: #ffffff33;
        }

        .main-nav-container {
            padding-left: 2px ;
            .app-header-nav {
                display: flex;
                .recent {
                    display: flex;
                    gap: 6px;
                    height: fit-content;
                    padding: 9px 18px 9px 10px;
                    border-radius: 3px;

                    p {
                        margin: 0;
                        line-height: 14px;            
                    }
                }
                .nav-link {
                    line-height: 14px;
                    padding: 9px 18px 9px 12px;
                    border-radius: 3px;
                }
            }



            .recent:hover,
            .nav-link:hover {
                cursor: pointer;
                transition: 0.2s;
                background-color: #ffffff33;
            }
        }
    }





    .user-nav-links {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;

        .toggle-login-bar {
            margin: 0;
            padding: 0;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            border: none;
            background-color: #005789;
            background-size: contain;
            
            h1 {
                margin: 0;
            }
        }

        .toggle-login-bar:hover{
            cursor: pointer;
        }

        .signin-signup-links {
            position: relative;
            top: 40px;
            right: -32px;
            width: 304px;
            height: fit-content;
            border-radius: 3px;
            box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

            line-height: 40px;
            box-sizing: border-box;
            padding-bottom: 18px;

            * {
                color: #172b4d;
                padding: 0 12px;
            }

            h2 {
                text-align: center;
            }

            .nav-link {
                height: 20px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
            }

            .nav-link:hover {
                cursor: pointer;
                background-color: #f4f5f7;
            }
        }
    }
}

.nav-link {
    text-decoration: none;
}