


    .app-header {
    padding: 6px 27px 6px 27px;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    align-items: center;



    >* {
        height: 32px;
    }



    .logo-and-nav {
        flex-grow: 1;
        display: flex;
        align-items: center;

        * {
            font-size: 18px;
            color: white;
            font-size: 14px;
        }

        .logo-container {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 4px;
            height: 28px;
            padding: 6px 12px 6px 0;
            margin: 0;
            border-radius: 3px;

            * {
                margin: 0;
            }
        }

        .logo-container:hover {
            cursor: pointer;
            transition: 0.2s;
            background-color: #ffffff33;
        }

        .main-nav-container {
            display: flex;
            align-items: center;
            height: 100%;

            .app-header-nav {
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;


                * {
                    margin: 0;
                }

                .recent,
                .go-to-boards {
                    padding: 1px 0 0 4px;
                    margin-left: 28px;

                    @media screen and (max-width: 480px) { margin-left: 0;}
                }

                .recent {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    height: 28px;
                    padding: 6px 12px;
                    border-radius: 3px;
                }

                .go-to-boards {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    height: 28px;
                    padding: 6px 12px;
                    border-radius: 3px;
                }

                .nav-links {
                    position: absolute;
                    bottom: -47px;
                    right: -66px;
                    // height: 28px;
                    padding: 6px 0;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    text-decoration: none;
                    border-radius: 0 0 3px 3px;
                    box-shadow: 0px 1px 5px -2px #000000;
                    min-width: 150px;
                    background-color: #ffffff;
                    z-index: 1000;

                    .nav-link {
                        color: $clr3;
                        width: 100%;
                        // height: 18px;
                        padding: 6px 12px;
                        // border-radius: 3px;
                    }

                    .nav-link:hover {
                        cursor: pointer;
                        transition: 0.2s;
                        background-color: #d2d2d26b;
                    }
                }
            }



            .recent:hover,
            .go-to-boards:hover {
                cursor: pointer;
                transition: 0.2s;
                background-color: #ffffff33;
            }
        }
    }




    .header-right-side {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;

        .back-to-home {
            background-color: #0065ff;
            color: white;
            padding-right: 20px;
            padding-left: 20px;
            flex-grow: 1;
            margin: 0;
            height: 36px;
            border-radius: 0.2rem;
            font-size: 1.2em;
            letter-spacing: 1px;
            font-weight: 600;
            text-decoration: none;
            padding: 4px 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: none;
        }

        .user-nav-links {
            position: relative;
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;

            .toggle-login-bar {
                margin: 0;
                padding: 0;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: none;
                background-color: #005789;
                background-size: contain;

                .header-user-avatar {
                    height: 100%;
                    border-radius: 50%;
                }

                svg * {

                    color: white;
                    font-size: 14px;
                }

                h1 {
                    margin: 0;
                }
            }

            .notification-btn {
                background: none;
                border: none;
                margin-right: 4px;
                height: 32px;
                width: 32px;
                padding: 6px;
                border-radius: 3px;
            }

            .notification-btn.unread {
                background-color: #eb5a46;
            }

            .notification-btn {
                svg * {
                    color: white;
                    font-size: 14px;
                }
            }

            .notification-btn.empty:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.3);
            }

            .toggle-login-bar:hover {
                cursor: pointer;
            }

            .signin-signup-links {
                position: absolute;
                z-index: 100;
                top: 40px;
                width: 304px;
                height: fit-content;
                border-radius: 3px;
                box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
                display: flex;
                flex-direction: column;
                background-color: #ffffff;

                line-height: 40px;
                box-sizing: border-box;
                padding-bottom: 18px;

                * {
                    color: #172b4d;
                    padding: 0 12px;
                }

                h2 {
                    text-align: center;
                    margin-bottom: 0;
                }

                .nav-link {
                    height: 34px;
                    padding: 6px 12px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    text-decoration: none;
                }

                .nav-link-avatar {
                    display: flex;
                    height: 34px;
                    padding: 6px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    text-decoration: none;

                    div {
                        padding: 0;
                        font-size: 18px;
                    }

                    span {
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        padding: 0;
                    }
                }

                .small-right-menu-container a {
                    font-size: 20px;
                    text-decoration: none;
                }

                .nav-link:hover {
                    cursor: pointer;
                    background-color: #f4f5f7;
                }
            }
        }

        .main-search-container {
            position: relative;

            input {
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.25);
                outline: none;
                box-sizing: border-box;
                width: 210px;

                height: 32px;
                padding: 8px 8px 8px 30px;

            }

            input::placeholder {
                color: white;
            }

            input:focus {
                background-color: #ffffff;
            }

            input:focus::placeholder {
                color: $clr3;
            }

            span {
                position: relative;
                left: 24px;
                height: 100%;
                width: 30px;
            }
        }
    }
}

.app-header.is-dark {

    .logo-container,
    .recent *,
    .go-to-boards *,
    .nav-link,
    .toggle-login-bar *,
    .notification-btn svg *,
    .main-search-container *,
    .main-search-container input::placeholder {
        color: #ffffff !important;
    }
}

.app-header.is-light {

    .logo-container *,
    .recent *,
    .go-to-boards *,
    .nav-link,
    .toggle-login-bar *,
    .notification-btn svg *,
    .main-search-container *,
    .main-search-container input::placeholder {
        color: #172b4d !important;
    }
}

.app-header.home-page-header {
    position: fixed;
    width: 100%;
    background: white;
    transition: background 1s ease 0s;
    box-shadow: none;



    .logo-and-nav {

        * {
            font-size: 25px;
            font-weight: 700;
        }

        svg * {
            color: #0065ff;
        }

        h1 {
            margin-left: 4px;
        }
    }


    .app-header.home-page-header.scrolled {
        background: white;
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        transition: background 1s ease 0s;
    }



    .home-signup-login {

        display: flex;
        align-items: center;

        .nav-link-home {
            flex-grow: 1;
            margin: 0;
            height: 36px;
            // border-radius: 0.2rem;
            font-size: 1.2em;
            letter-spacing: 1px;
            font-weight: 700;
            text-decoration: none;
            padding: 4px 8px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-link-home.login {
            background: none;
            color: #0065ff;
        }

        .nav-link-home.signup {
            background-color: #0065ff;
            padding-right: 30px;
            padding-left: 30px;
            color: #ffffff;
        }

        .nav-link-home.login:hover {
            cursor: pointer;
            text-decoration: underline;
            color: #005eeb;
        }

        .nav-link-home.signup:hover {
            cursor: pointer;
            background-color: #005eeb;
        }
    }
}

.nav-link {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .app-header {
        max-width: 100vw;

        .app-header-nav {

            .recent,
            .go-to-boards {
                margin-left: 0 !important;
            }

            .nav-links {
                height: auto !important;
                bottom: -47.5px !important;

                >* {
                    height: auto !important;
                }
            }
        }

        .nav-link-home{
            height: 32px !important;
            padding: 4px 8px !important;
        }
    }
}
