.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;



    .avatar-img-container {
        position: relative;

        input {
            display: none;
        }

        .costum-input {
            div {
                position: absolute;
                top: 0;
                left: 1px;
                border: 1px solid black;
                min-height: 20vh;
                width: 20vh;
                border-radius: 50%;

                .change-avatar{
                    position: absolute;
                    left: 80%;
                    bottom: 0;
                }
            }
        }
    }

    .avatar-img {
        height: 20vh;
        border: 1px solid rgb(200, 199, 199);
        border-radius: 50%;
    }

    .avatar-header {
        padding: 20px 0;
        display: flex;
        align-items: baseline;
        gap: 10px;




        .avatar-fullname {
            font-size: 30px;
            // height: 30px;
        }

        .avatar-email {
            font-size: 20px;
            color: #5e6c84;
            font-weight: 100;
        }
    }
}