.box {
    background-color: $clr5;
    width: 270px;
    margin: 0;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    & h2 {
        margin-left: 15px;
    }

    .task-list-wraper {
        flex-grow: 1;
        margin-right: 2px;

        max-height: inherit;
        overflow-y: auto;
    }

    .task-list-wraper::-webkit-scrollbar {
        width: 5px;
    }

    .task-list-wraper::-webkit-scrollbar-track {
        background: none;
    }

    .task-list-wraper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #8c8c8c;
    }
}

.box-title-edit {
    margin-left: 8px;
    width: 210px;

    &:focus {
        outline: blue;
        border: 2px solid #0079bf;
        ;
        border-radius: 3px;
    }
}

.close-new-task {
    border: none;
    transform: translate3d(19px, -6px, 5px);
}

.extras-menu {
    display: flex;
    align-items: center;
    margin-right: 4px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;



    .extras-menu:hover {
        opacity: 1;
        background-color: #0079bf;

        .grey-icons:hover {
            background-color: rebeccapurple;
        }
    }

}

.extras-menu:hover {
    border-radius: 3px;
    color: #172b4d;
    background-color: #091e4214;

    .grey-icons {}
}

.fa-extras-back {
    cursor: pointer;
    position: absolute;
    left: 8px;
}

.add-box-input {
    width: 210px;
}

.box-header {
    position: relative;
    align-items: center;


}

.extras-copy-menu {
    .save-btn {
        transform: translate3d(10px, 5px, 10px);
    }

    .task-edit {
        height: 72px;
        margin: 4px 0 12px;
        width: 100%;
        border: solid 2px #dfe1e6;
        background-color: #fafbfc;

        &:focus {
            border: solid 2px #0079bf;
            background-color: #fff;
        }
    }
}

.extras-copy-name {
    margin-top: 4px;
    color: #5e6c84;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px;
}

.board-extras-menu {
    position: absolute;
    background-color: white;
    width: 276px;
    border-radius: 3px;
    left: 245px;
    padding: 0 12px 12px;
    top: 45px;
    z-index: 10;

    .extras-header {
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        border-bottom: 1px solid #091e4221;
        box-sizing: border-box;
        color: #5e6c84;
        display: block;
        line-height: 40px;
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }

    .extras-btn {
        cursor: pointer;
        display: block;
        font-weight: 400;
        margin: 0 -12px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }

    .extras-btn:hover {
        background-color: #091e420a;
    }

    .extras-add {
        margin-top: 8px;
    }

    .extras-hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 12px 0;
        padding: 0;
        width: 100%;
    }

    // left: 0;
}