.check-list{
    clear: both;
    margin-bottom: 24px;
    position: relative;
}

.check-list-container{
    width: fit-content;
}

.todo-drag{
    width: fit-content;
}

.todo-container{
    display: flex;
    gap: 10px;
}

.line-through{
text-decoration: line-through;
}