.details-task-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;
    justify-content: flex-end;
}
.detail-container{
    display: flex;
    flex-direction: column;
}
.detail-menu-container{
    display: flex;
    justify-content: space-between;
}
.add-to-card{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-right:20px 0 0 0;
    padding: 5px;
}
.x-btn-cover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    align-items: flex-end;

    .details-task-cover-btn{
        position: relative;
        background-color: $clr12;
        color: $clr3;
        margin: 4px 0 4px 8px;
        padding: 6px 12px 6px 8px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        text-align: left;
        background-color: $clr13;

        
        &:hover {
            background-color: rgba(0, 0, 0, 0.127);
        }
    }
}


.details-task-nav-btn {
    background-color: $clr12;
    color: $clr3;
    margin: 4px 0 4px 8px;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;

    // transition: transform 85ms ease-in;

    &:hover {
        background-color: rgba(0, 0, 0, 0.127);
        // transform: translateX(5px);
    }

   
        & .Cover {
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.28);
        }
    
    .label-menu {
        position: absolute;
        margin: 0;
        transform: unset;
        z-index: 5;
        top: 32px;
        left: 0;


        &.Labels {
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.28);
            padding: 0 10px;
            width: 250px;

            & .label-choice {
                color: #fefefe;
                font-size: 14px;
                padding: 6px 12px;
                margin: 0 0 4px;
                text-align: left;
                font-weight: 600;
                letter-spacing: 1px;
                
            }

        }
    }
}