.edit-task-nav {
    transform: translate3d(248px, -95px, 10px);
    position: absolute;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 24px;
    }

    .Labels {
        height: 80vh;
        width: 20vw;
        position: absolute;
        transform: translateY(-20%);
        margin-top: 5px;
        padding: 10px, 18px;
    }
}


.edit-task-nav-btn {
    background-color: $clr7;
    color: rgb(235, 235, 235);
    width: fit-content;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    border-radius: 3px;
    border: none;
    transition: transform 85ms ease-in;

    &:hover {
        background-color: #000c;
        transform: translateX(5px);
    }
}