
.label-menu{
    background-color: $clr4;
    border-radius: 3px;
    position: absolute;
    transform: translateX(190px);
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 10px;
    &.Cover{
        margin-top: 0px;
        z-index: 5;
    }
}
.label-choice{
    // position: absolute;
    background-color: white;
    text-align: center;
    margin-left: 9px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 100;
    
   
}
.Members{
    transform: translateY(-210px);
}
.Labels{
    transform: translateY(-210px);
}
.Cover{
    transform: translateY(-175px);
}


.color-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.cover-menu-color{
    width: 50px;
    height: 50px;

}
.members-div{
    cursor: pointer;
    height: 40px;
    border: 1px black solid;
}
