.login {
    margin-top: 50px;

    
    .login-name-logo {
        display: flex;
        justify-content: center;
        align-items: center;


        .name{
            font-size: 50px;
            padding-left: 20px ;
            font-weight: 900;
        }
        img.logo{
            height: 42px;
        }
    }
}