.login {
    margin-top: 50px;


    .login-name-logo {
        display: flex;
        justify-content: center;
        align-items: center;


        * {

            font-size: 50px;
        }

        .name {
            padding-left: 20px;
            font-weight: 900;
        }

        img.logo {
            height: 42px;
        }
    }
}