.notifications-container {
    position: fixed;
    top: 48px;
    background-color: white;
    padding: 6px 4px;
    z-index: 200;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

    .notification-list {
        max-height: 50vh;
        width: 332px;
        overflow-y: auto;
        padding: 6px 12px;

        .task-archived-txt {
            display: flex;
            gap: 4px;

            .read-unread-toggle {
                svg {
                    border: 1px solid #00AECC;
                    border-radius: 50%;
                }

                svg * {
                    fill: #ffffff;
                }
            }

            .read-unread-toggle.unread {
                svg * {
                    color: #00C2E0;
                    fill: #00C2E0;
                }
            }


        }
    }

    h4 {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    .notification-container {
        margin-bottom: 8px;
        box-shadow: 0 1px 1px rgb(9 45 66 / 25%), 0 0 0 1px rgb(9 45 66 / 8%);
        border-radius: 3px;
        padding: 4px;

        &.unread {
            background: #E4F7FA;
        }


        .notification-details {
            display: flex;
            gap: 4px;
            padding-left: 36px;
            flex-wrap: wrap;

            * {
                margin: 0;
            }
        }

        .notification-user {
            display: flex;
            align-items: center;
            gap: 4px;

            .not-user-name {
                margin: 0;
                text-decoration: underline;
                font-size: 16px;
            }

            .not-user-img {
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }
        }
    }
}

.notification-list::-webkit-scrollbar {
    width: 10px;
}

.notification-list::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.notification-list::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}