.task-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    // max-height: 90vh;
    left: 50%;
    top: 60%;
    // height: 600px;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: #f3efef;
    padding: 0 ;
    border-radius: 0.5rem;
    overscroll-behavior: contain;
    // overflow: auto;


    .detail-container{
        padding: 40px;
        padding-top: 0;
    }
    .form-comment-details {
        display: flex;
        flex-direction: column;
    }
    & .x-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.07);
        border: none;
        // position: absolute;
        width: fit-content;
        cursor: pointer;
        height: fit-content;
        margin: 0.5rem;
        border-radius: 50%;
        padding: 0.8rem 1.1rem;

        &:hover {
            background-color: rgba(0,0,0,0.11);
        }

        .fa-xmark {
            font-size: 1.3rem;     
            font-weight: 400;       
        }
    }
    & input:focus {
        border: 1px solid $clr6;
    }
    input {
        border-radius: 2px;
        outline: none;
        border: none;
        padding: 5px;
        width: 95%;
    }
    textarea { 
        resize: none; 
        width: 95%;
    }
    .detail-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &.hidden {
        display: none;
    }
    & h1{
        font-size: 20px;
    }
    & form {
        flex-direction: column;
    }
    & .desc-input{
        margin-top:10px;
        padding: 10px;
        font-size: 1.1rem;
    }
    .activity {
        font-weight: 600;
        letter-spacing: 1.8px;
        font-size: 16px ;
        margin-top: 8px;
    }
    .comment-input{
        margin: 20px 0 0 0;
        height: 40px;
    }

    .description  {
        font-weight: 600;
        letter-spacing: 1.5px;
        font-size: 16px ;
        width: 100%;
        margin-top: 30px;

    }
    .color-cover-details {
        object-fit: cover;
        padding: 0;

    }
    .cover-menu-color-detail{
        display: flex;
        justify-content: flex-end;
        height: 116px;
        margin: 0;

        &.no-color {
            height: auto;
        }
    }
   .label-container {
       display: flex;
       flex-direction: column;

       .label-detail-container{
           display: flex;
           flex-direction: row;
        }
        
        .label-details {
            border-radius: 3px;
            letter-spacing: 1px;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            width: fit-content;
            padding: 0 12px;
            color: #fefefe;
        }

   }

    & .box-title {
        letter-spacing: 0.5px;
        color: rgb(97, 96, 96);
        margin-top: 0px;
        font-weight: 500;
        font-size: 14px;

        & .box-title-details {
            text-decoration: underline;
            color: rgb(97, 96, 96);

        } 
    }

    & .task-description {
        font-weight: 600;
        letter-spacing: 1.5px;
        font-size: 16px ;

        .curr-desc {
            font-size: 14px;
            font-weight: 400;
            margin-top: 20px;
            margin-left: 40px;
        }
        .desc-btn-container{
            display: flex;
            align-items: center;
        }
        button {
            letter-spacing: 1.5px;
            font-weight: 600;
            cursor: pointer;

            
            &.save-btn {
                background-color: $clr6;
                margin: 10px 8px 0 0;
                color: #fefefe;
                padding: 6px 8px;
                border: none;
                border-radius: 2px;
                width: fit-content;
    
            }


            &.save-btn:hover {
                background-color: #00578a;

            }
            &.cancel-btn {
                background-color: transparent;
                border: none;
                color: black;
                font-weight: 600;
                margin: 10px 0 13px 0;
                padding: 6px 8px;
                border: none;
                border-radius: 2px;
                width: fit-content;
                // background-color: rgb(220, 216, 216);

                &:hover{
                    background-color: rgb(220, 216, 216);
                }
            }
        }
        .fa-solid {
        }

        
    }


}