.task-details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 1rem 2rem;
    border-radius: 1rem;

    &.hidden {
        display: none;
    }
}