.task {
    margin: 10px;
    background-color: $clr4;
    height: fit-content;
    padding: 6px 8px 2px;
    border-radius: 5px;
    // pointer-events: none;
    & p {
        margin-left: 5px;
    }
}

.task-edited{
    position: relative;
    z-index: 100;
}

.task-preview-color{
    width: 252px;
    transform: translate3d(-8px, -6px, 3px);
    height: 30px;
}

.the-great-one {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.44);
}

.task:hover {
    .edit-fav {
        display: inline;
    }

    .edit-fav:hover {
        background-color: $clr5;
    }
}

.labels {
    display: flex;
    gap: 4px;
}

.label {
    height: 10px;
    width: 50px;
    border-radius: 4px;
}

.task-link {
    text-decoration: none;
}

.add-card {
    text-align: center;
    margin: 2px 0 8px 8px;
}

.edit-task-nav {
    position: absolute;
    transform: translateX(190px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-task-nav-btn {
    background-color: $clr7;
    color: $clr4;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    border-radius: 3px;
    border: none;
    transition: transform 85ms ease-in;

    &:hover {
        background-color: #000c;
        transform: translateX(5px);
    }
}

.save-btn{
    transform: translate3d(12px, -6px, 10px);
    background-color: #0065ff;
    padding: 6px 8px;
    color: #fefefe;
    border: none;
    border-radius: 2px;
    justify-content: center;
}

.save-btn-edit {
    background-color: #0065ff;
    transform: translateY(46px);
    margin: 10px 8px 0 0;
    color: #fefefe;
    padding: 6px 8px;
    border: none;
    border-radius: 2px;
    justify-content: center;
}

.add-card:hover {
    cursor: pointer;
}

.task-edit {
    border: none;
    outline: none;
}

.edit-fav {
    position: relative;
    top: 0;
    margin-left: 38px;
    right: 0;
    display: none;
    border-radius: 12px;
    height: fit-content;
    padding: 5px;
}

.date-preview{
    background-color: $clr8;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    padding: 2px;
    border-radius: 3px;
    color: #fff;
}

.font-square{
    display: none;
}
.date-preview:hover{
background-color: $clr9;
.font-clock{
    display: none;
}
.font-square{
    display: inline;
}
}
.complete{
    background-color: $clr10;
}
.complete:hover{
    background-color: $clr11;
}
.fa{
    margin-right: 3px;
}

.task-members{
    display: flex;
}
.task-member{
    // background-color: red;
}