.menu-choice-Cover.from-cover-area {
    background-color: #ffffff;
    padding: 0 12px 12px 12px;
    position: absolute;
    top: 36px;
    right: 0;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
}

.menu-choice-Cover.from-action-menu {
    right: 0;
    top: -100px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
}

.close-labels-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
}

.close-labels-btn:hover {
    cursor: pointer;
    color: #273141;
}

.task-cover-menu {
    .cover-menu-h4 {
        color: #5e6c84;
        text-align: left;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 4px;
    }

    .cover-menu-header {
        height: 40px;
        margin-bottom: 8px;

        * {
            font-weight: 400;
        }

        h2 {
            text-align: center;
            line-height: 40px;
            margin: 0 12px;
            padding: 0 32px;
        }

        .close-cover-menu {
            padding: 6px;
            position: absolute;
            right: 0;
            top: 0;

            border: none;
            background: none;

            svg {
                display: flex;
                align-items: flex-end;
            }
        }

        .close-cover-menu:hover {
            cursor: pointer;

            svg * {
                color: #1a1d22;
            }
        }
    }

    .color-grid {
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;


        .cover-color {
            height: 32px;
            width: 50px;
            border-radius: 3px;
            cursor: pointer;
            border: none;

        }
    }

    .bg-container-cover-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        margin: 0 -4px;
        padding: 4px;



        .cover-img {
            height: 48px;
            width: 88px;
            border-radius: 3px;
            border: none;
            cursor: pointer;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}